.App {
  text-align: center;
  height: 100%;
}

.App-header {
  background-color: #331E38;
  height: 250px;
  padding: 20px;
  color: #6DA34D;
}

.App-intro {
  font-size: large;
  background-color: #70A0AF;
  height: 400px;
}
