.App {
  text-align: center;
  height: 100%;
}

.App-header {
  background-color: #331E38;
  height: 200px;
  padding: 20px;
  color: #A0C1B9;
}

.App-intro {
  font-size: large;
  background-color: #70A0AF;
}
